.navbar{
    background:rgba(51,51,51,1);
}

.my-btn-default{
    background-color : rgba(51,51,51,1);
    border-color : rgba(51,51,51,1);
}

.my-btn-city{
    color: #fbfbfb;
    background-color: rgba(255, 255, 255, 0);
    border-color: #333;
}

.aList{
    margin-top : 10px;
    margin-bottom : 10px;
}

.aTitle{
    margin-top : 5px;
    margin-bottom : 5px;
    font-size : 18px;
}

.aDesc{
    margin-top : 5px;
    margin-bottom : 5px;
}

.imgBox{
    width: 150px;
    height: 120px;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover{
    background-color:#cc3232;
    border-color:#cc3232
}
