<span> 
    <a target="_blank" href="<%= "/vedio/detail?passport=&videoId=" + aRelateRow.videoId + "&objType=" + aRelateRow.objType + "&objId=" + aRelateRow.objId %>"><img  class="imgBox img-rounded" src="<%= "http://7xkufz.com2.z0.glb.qiniucdn.com/" + aRelateRow.poster %>"></a>
</span>
<p><%= aRelateRow.title %></p>
<p><%= aRelateRow.summary %></p>

