<div class="row">
    <div class="col-lg-8">
	<div>
	    <%- subjectDetail.data.subject.content %>
	</div>
        <div>
	    <div style="margin-top:40px;margin-bottom:20px;">
		<span style="margin-right:10px"><img src="../img/shipin_xiangguantuijian.png"></span><span style="font-szie:14px;font-family:Microsoft YaHei;color:#000000">相关评论</span>
	    </div>
	    <div>
	        <% commentDetail.forEach(function(aRow){%>
	    	<%- include('../oneComment', {aRow: aRow}) -%>
	        <% }) %>
	    </div>
        </div>
        <div>
        </div>
    </div>
</div>

