<div class="row">
    <div class="col-lg-8">
	<div>
	    <%- subjectDetail.data.subject.content %>
	</div>
        <div>
	   <p>相关评论</p>
        </div>
        <div>
        </div>
    </div>
</div>

