<div class="container footer">
    <div class="row">
	<span class="col-lg-offset-2 col-lg-2">电话：021-58965895</span>
	<span class="col-lg-2">邮箱：<a>contact@snsports.cn</a></span>
	<span class="col-lg-4">地址：上海市普陀区云岭东路609号1号楼1201</span>
    </div>
</div>


