<div class="navbar navbar-inverse my-bottom-0px" style="border-radius:0px;background-color:#000000;">
    <div class="container">
	<div class="row">
	    <div class="btn-group col-lg-2" style="padding-right:0px;padding-left:30px;width:100px;height:20px;">
		<button type="button" class="btn btn-default dropdown-toggle my-btn-city" data-toggle="dropdown" style="padding:0px 0px 0px 0px;border-color:#000000">
		    <span style="font-family:'Microsoft YaHei';font-size:14px;color:#ffffff">上海</span><span style="font-family:'Microsoft YaHei';font-size:12px;color:#ffffff">[切换城市]</span>
		</button>
		<ul class="dropdown-menu" role="menu">
		    <li><a href="#">上海</a></li>
		    <li><a href="#">北京</a></li>
		</ul>
	    </div>
	    <div style="color:white;padding-left:5px;font-family:'Microsoft YaHei';font-size:12px;color:#ffffff;width:200px;margin-left:15px;margin-top:3px;" class="col-lg-2">
		<p>| <span id="weahter">多云</span> <span id="temperature">23℃/35℃</span></p>
	    </div>
	</div>
	<div class="row">
	    <div class="col-lg-2" style="margin-bottom:20px;">
		<img src="../img/qiutan_logo1.png" class="img-rounded img-responsive center-block">
	    </div>
	    <div class="col-lg-2" style="margin-bottom:20px;">
		<img src="../img/qiutan_logan.png" class="img-rounded img-responsive center-block">
	    </div>
	</div>
    </div>
</div>

