<div class="navbar navbar-inverse my-bottom-0px">
    <div class="container">
	<div class="row">
	    <div class="col-lg-2">
		<img src="../img/qiutan_logo1.png" class="img-rounded img-responsive center-block">
	    </div>
	    <!-- Single button -->
	    <div class="btn-group col-lg-2 my-top-5px">
		<button type="button" class="btn btn-default dropdown-toggle my-btn-default" data-toggle="dropdown">
		    上海[切换城市] <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
		    <li><a href="#">上海</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		    <li class="divider"></li>
		    <li><a href="#">Separated link</a></li>
		</ul>
	    </div>
	    <div class="col-lg-offset-4 col-lg-3 my-top-5px">
		<div class="input-group">
		    <span class="input-group-btn">
			<button class="btn btn-default" type="button">Go!</button>
		    </span>
		    <input type="text" class="form-control">
		</div><!-- /input-group -->
	    </div><!-- /.col-lg-6 -->
	</div>
    </div>
</div>

