<div class="row">
    <% var headUrl = "http://7xkufz.com2.z0.glb.qiniucdn.com/" + aRow.userInfo.profileThumb %>
    <% var nickName = aRow.userInfo.nickName %>
    <% var content = aRow.content %>
    <% var time = aRow.createDate %>
    <div class="col-lg-2">
	<span> 
            <img  class="img-circle" src="<%= headUrl %>" style="width:50px">
        </span>
    </div>
    <div class="col-lg-4">
	<p> <%= nickName %> </p>
	<p> <%= content %> </p>
    </div>
    <div class="col-lg-4">
	<p> <%= time %> </p>
    </div>
</div>
