<div class="col-lg-2 my-top-50px">
    <div>
	<span class="imgBox"> 
	    <a target="_blank" href="#"><img src="http://shp.qpic.cn/zc_large/0/843_1473403992000/0" class="img-rounded"></a>
	</span>
    </div>
    <div>
	<span class="imgBox"> 
	    <a target="_blank" href="#"><img src="http://shp.qpic.cn/zc_large/0/843_1473403992000/0" class="img-rounded"></a>
	</span>
    </div>
</div>

